<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Tx Hash</th>
      <th scope="col">Tx Index</th>
      <th scope="col">Block No.</th>
      <th scope="col">Event type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of this.uniswapService.uniswapTableData; let i = index">
        <td><a href="https://etherscan.io/tx/{{data.transactionHash}}" target="_blank" rel="noopener noreferrer">{{data.transactionHash}}</a></td>
        <td>{{data.transactionIndex}}</td>
        <td>{{data.blockNumber}}</td>
        <td>{{data.event}}</td>
        <td><i (click)=this.uniswapService.showModal(this.uniswapService.uniswapTableArguments[i],data.event) class="fa-solid fa-circle-info"></i> </td>
  </tbody>
</table>
